.header {
    padding: 2px 100px 2px 50px;
    background-color: #2874f0;
    display: flex;
    justify-content: space-evenly;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    gap: 10px;
}

.header-left-sort {
    display: flex;
    flex-direction: column;
}

.plus {
    width: 10px;
}

.header-logo {
    width: 72px;
}

.explore {
    font-size: 11px;
    font-style: italic;
    margin-top: -4px;
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
}

.explore-yellow {
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
}

.text-search-sort {
    display: flex;
    align-items: center;
}

input {
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: none;
    font-size: 14px;
    height: 36px;
    width: 490px;
}

.search-btn {
    outline: none;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 0 2px 2px 0;
    padding: 4px 12px 0 8px;
}

.header-right {
    flex-grow: 4;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul li a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    outline: none;
}