.home-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 10px 8px;
    box-shadow: 2px 5px 5px #eaeaea;
}

.home-header {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 15px 20px;
    align-items: center;
}

.home-header h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
}

.home-header h3 {
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 400;
}

.home-header button {
    padding: 10px 20px;
    background-color: #2874f0;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.home-show-section {
    display: flex;
    justify-content: space-between;
}

.home-align {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px 10px;
    width: 195px;
}

.home-image {
    height: 160px;
}

.home-align img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.home-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}