body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    background-color: #f1f3f6;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
}

@import "./header";
@import "./headerImage";
@import "./slides";
@import "./dealSection";
@import "./laptopSection";
@import "./homeSection";
@import "./gameSection";
@import "./textContent";
@import "./footerSection";